@page
@model CtrlIngrsoSalon.App.Frontend.Pages.CrearEstudianteModel
@{

<div class="container">
    <div class="row">
             <div class= "col-sm-8">
               <h3>Crear Estudiante</h3>
             </div>             
    </div>
</div>

<div class="row">
      <div class= "col-sm-10">
        <form method = "POST" >
          <div class="form-group">
              <label class="control-label">Nombre: </label>
              <input class="form-control" name="nombre"/>  
          </div>
          <div>
              <label class="control-label">Apellidos: </label>
              <input class="form-control" name="apellidos" /> 
          </div>
          <div class="form-group">          
              <label class="control-label">Fecha de Nacimiento: </label> 
              <input class="form-control" name="fechaNacimiento" />  
         </div>
          <div class="form-group">          
              <label class="control-label">Telefono: </label> 
              <input class="form-control" name="telefono" />  
         </div>   
          <div class="form-group">          
              <label class="control-label">Correo: </label> 
              <input class="form-control" />  
         </div> 
          <div class="form-group">          
              <label class="control-label">Carrera: </label> 
              <input class="form-control" name="correo" />  
         </div> 
          <div class="form-group">          
              <label class="control-label">Semestre: </label> 
              <input class="form-control" name="semestre" />  
         </div>  
          <div class="form-group">          
              <input type="submit" value="Crear" class="btn btn-primary" />  
         </div>                                         
        </form>
    </div>   
</div>


}
